# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Coverage report
coverage
test-report.xml

# Additional
temp
tests/integration/integrationCredentials.js

# Mac OSX files
.DS_Store